html {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: rgb(253, 214, 220);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 21px 5px rgba(0,0,0,0.11);
}

header > h1 {
  margin: 0px;
  color: rgb(165, 79, 79);
}
