html {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: rgb(253, 214, 220);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 21px 5px rgba(0, 0, 0, 0.11);
}

header > h1 {
  margin: 0px;
  color: rgb(165, 79, 79);
}

main {
  display: grid;
  grid-template-columns: 133px 133px 133px;
  grid-template-rows: auto;
  justify-content: center;
  margin-top: 40px;
}

.main-box {
  border: 1px solid;
  width: 400px;
  height: 400px;
  grid-column: 1 / -1;
}

.message {
  grid-column: 1 / -1;
  text-align: center;
}

main button {
  width: 120px;
  height: 50px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
}
